<launch>
<!-- this launch file includes a nother launch file -->
  <include file="$(find ros_for_beginners_one)/launch/turtlesim_teleop.launch"/>

<!-- refer to robot_clearner_3_goal_toGOal.cpp -->
  <param name="x_goal" value="3.0"/>
  <param name="y_goal" value="7.0"/>

  <!-- IMPORTANT MAKE USRE TO ASSIGN PARAMETERS BEFORE NODE IS CALLED -->
  <!--  IN THIS CASE THEY ARE GOING INTO THE NODE robot_cleaner_continued3-->

  <!-- the type is the name of the node so use rosnode or you can also see the CMakeList.txt for x++ -->
  <node pkg ="ros_for_beginners_one" type="robot_cleaner_node_continued3" name="turtlesim_cleaner_node"/>

</launch>
